header{
    max-width: 300px;
    background-color: #013806;
    border-style: solid;
    border-width: 1px;
    border-color: #013806;
    color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 21px;
    margin-left: 300px;

}

body {
    background-image: url("../images/Mimmi2.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
    margin-top: 55px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #0a3801;
    opacity: 0.9;
    padding: 20px 20px 20px 20px;
    max-width: 600px;
    max-height: 900px;
  }

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-top: 10px;
    margin-left: 10px;
  }

.main-info {
    padding: 10px;
    display: inline-block;
    color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 35px;
}


input[type=text], select, textarea {
    max-width: 400px;
    max-height: 75px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}
input[type=text]:focus {
    background-color: #013806;
    
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

input[type=email] {
    max-width: 400px;
    max-height: 75px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

.message {
    max-width: 600px;
    max-height: 600px;
    margin-left: 10px;

}
.ponyselection {
    max-width: 180px;
    max-height: 75px;
    padding: 12px 12px 15px 0;
    margin-left: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-left: 10px;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 10px;
  }

/* On mouse-over, add a gray background color */
.container:hover input ~ .checkmark {
    background-color: gray;
  }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /*  */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.check-text {
    padding: 10px;
    display: inline-block;
    color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: gray;
    color: aliceblue;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

button {
    appearance: auto;
}